*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
      
}


#more{
    display: none;
}
#more1{
    display: none;
}
#more2{
    display: none;
}
#more3{
    display: none;
}
#more4{
    display: none;
}

#more5{
    display: none;
}

#more6{
    display: none;
}

#more7{
    display: none;
}

#more8{
    display: none;
}

#full{
    display: none;
}

body {
    background: #111;
    color: rgb(48, 57, 158);
    font-style: normal;
    font-family: inter;
    width: 100%;
}
.nav{
    width: 100%;
    background-color: rgb(12, 10, 10);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 3;
}

canvas{
    position: fixed;
    margin: 0;
    padding: 0;
    z-index: 1;
    pointer-events: none;
}

.container{
    width: 1200px;
    margin: 120px auto;
    margin-top: 0;
	position: relative;
    z-index: 2;
}

h2{
    font-size: 42px;
    text-align: center;
    margin-bottom: 50px;
}



.nav-title{
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.nav-info{
    display: flex;
}

.nav-info p{
    margin-left: 20px;
    font-size: 22px;
    color: #ffffff;
}

.logo{
    text-decoration: none;
    font-size: 48px;
    font-weight: 900;
    color: rgb(48, 57, 158);
}

.menu{
    margin-top: 10px;
    justify-content: center;
    align-items: right;
}

.menu a{
    text-decoration: none;
    font-size: 22px;
    font-weight: 400;
    color: #ffffff;
    margin-left: 30px;
    cursor: pointer;
}

.menu a:hover{
    border-bottom: rgb(48, 57, 158) solid 2px;
}

.burger{
    margin-top: 10px;
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
}

.burger span{
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: #ffffff;
}

.burger::before, .burger::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #ffffff;
    transition: all 0.3s ease 0s;
}

.burger::before{top: 0}
.burger::after{bottom: 0}


.burger.active span{
    transform: scale(0);
}
.burger.active::before{
    top: 50%;
    transform: rotate(-45deg) translate(0,50%);
}

.burger.active::after{
    bottom: 50%;
    transform: rotate(45deg) translate(0,50%);
}
.header{
    margin: 150px auto;
    margin-bottom: 250px;
}

.title-text{
    text-align: center;
}

.title-text p{
    margin: 0 auto;
    font-size: 42px;
    color: #ffffff;
    padding: 20px 30px;
    border: rgb(48, 57, 158) solid 5px;
}


.button{
    margin: 100px auto;
    width: 400px;
}
.button a{
    margin: 0 auto;
    text-decoration: none;
    font-size: 28px;
    font-weight: 700;
    color: rgb(48, 57, 158);
    border: rgb(48, 57, 158) solid 5px;
    background-color: rgb(17, 10, 10);
    padding: 20px 25px;
    border-radius: 25px;
}



.stages-items{
    display: flex;
    justify-content: space-between;
}

.stages-items-up{
    margin-top: 150px;
}

.stages-items-down{
    margin-bottom: 150px;
}

.stages-item{
    border: rgb(48, 57, 158) solid 5px;
    border-radius: 15px;
    background-color: #6e6b6a
}

.stages-items img{
    width: 160px;
    height: 160px;
    margin: 15px;
}

.stages-items p{
    font-size: 28px;
    width: 140px;
    margin: 15px auto;
    text-align: center;
}

.works-items{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

   .scale {
    display: inline-block; /* Строчно-блочный элемент */
    overflow: hidden; /* Скрываем всё за контуром */
   }
   .scale img {
    transition: 1s; /* Время эффекта */
    display: block; /* Убираем небольшой отступ снизу */
    width: 380px;
    height: 600px;
    border: rgb(48, 57, 158) solid 3px;
   }
   .scale img:hover {
    transform: scale(1.7); /* Увеличиваем масштаб */
   }

.button-port{
    margin: 50px auto;
    width: 374px;
}
.button-port a{
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    color: rgb(48, 57, 158);
    border: rgb(48, 57, 158) solid 5px;
    background-color: rgb(17, 10, 10);
    padding: 20px 25px;
    border-radius: 25px;
}
.why{
    text-align: center;
}

.why button{
    font-size: 24px;
    width: 1200px;
    background-color: #111;;
    color: rgb(48, 57, 158);
    padding: 10px;
    text-align: left;
}
.why p{
    margin: 0 auto;
    font-size: 18px;
    width: 1200px;
    background-color: #6e6b6a;
    color: black;
    padding: 0 10px;
}

.footer{
    background-color: #6e6b6a;
    display: flex;
    margin-bottom: 0px;
    z-index: 2;
}

.footer-foto img{
    width: 600px;
    height: 550px;
    margin-left: 100px;
}

.footer a{
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    color: rgb(48, 57, 158);
    margin-left: 30px;
    cursor: pointer;
}

.footer p{
    font-size: 24px;
    font-weight: 400;
    color: rgb(48, 57, 158);
    margin-left: 30px;
}

.footer-info{
    width: 100%;
    margin: auto 200px;
}

.footer-info img{
    width: 45px;
    height: 45px;
    padding: 5px;
    background-color: #6e6b6a;
    border: rgb(48, 57, 158) solid 3px;
    border-radius: 10px;
}

.footer-item{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}



@media screen and (max-width: 1250px){
    .container{
        width: 1200px;
    }
    .why button{
        font-size: 24px;
        width: 1000px;
    }
    .why p{
        font-size: 18px;
        width: 1000px;
    }
}

@media screen and (max-width: 1249px){
    .container{
        width: 960px;
    }
    .title-text p{
        width: 85%;
        font-size: 32px;
    }
    h2{
        font-size: 32px;
    }
    .stages-item img{
        width: 100px;
        height: 100px;
    }
    .stages-items p{
        font-size: 24px;
    }

    .scale img{
        width: 290px;
        height: 480px;
    }
    .footer-info{
        width: 100%;
        margin: auto 100px;
    }
    .footer-foto img{
        width: 400px;
        height: 370px;
        margin-left: 100px;
    }
    .why button{
        font-size: 24px;
        width: 800px;
    }
    .why p{
        font-size: 18px;
        width: 800px;
    }
    .nav-info p{
        margin-left: 10px;
        font-size: 18px;
    }
    
    .logo{
        text-decoration: none;
        font-size: 36px;
        font-weight: 700;
    }
}

@media screen and (max-width: 1000px){
    .container{
        width: 720px;
    }
    .title-text p{
        width: 85%;
        font-size: 24px;
    }

    .stages-item img{
        width: 80px;
        height: 80px;
    }
    .stages-items p{
        font-size: 18px;
        width: 90px;
    }

    .scale img{
        width: 190px;
        height: 280px;
    }
    .why button{
        font-size: 24px;
        width: 600px;
    }
    .why p{
        font-size: 18px;
        width: 600px;

    }.footer-info{
        width: 100%;
        margin: auto 50px;
    }
    .footer-foto img{
        width: 300px;
        height: 280px;
        margin-left: 50px;
    }
    .footer-info img{
        width: 35px;
        height: 35px;
    }
   
    .menu a{
        font-size: 18px;
        margin-left: 10px;
    }
    .logo{
        text-decoration: none;
        font-size: 24px;
        font-weight: 400;
        margin-top: 10px;
    }

}

@media screen and (max-width: 767px){
    .container{
        width: 540px;
    }
    .scale img{
        width: 170px;
        height: 280px;
    }
    .stages-item img{
        width: 60px;
        height: 60px;
    }
    .stages-items p{
        font-size: 16px;
    }
    .why button{
        font-size: 18px;
        width: 400px;
    }
    .why p{
        font-size: 16px;
        width: 400px;
    }
    .footer p{
        font-size: 18px;
        margin-left: 10px;
    }
    .footer a{
        font-size: 18px;
        margin-left: 10px;
    }
    .footer-info img{
        width: 30px;
        height: 30px;
        padding: 1px;
    }

    .footer-info{
        width: 100%;
        margin: auto 10px;
    }
    .footer-foto img{
        width: 300px;
        height: 280px;
        margin: 0 auto;
    }
    .open{
        display: flex !important;
    }
    .burger{
        display: flex;
    }
    .menu{
        display: none;
        flex-direction: column;
        position: fixed;
        height: 120px;
        width: 160px;
        top: 20px;  left: 0; 
        z-index: 50;
        overflow-y: auto;
        display: 50px 40px;
    }
    .button-port{
        margin: 50px auto;
        width: 280px;
    }
    .button-port a{
        margin: 0 auto;
        font-size: 18px;
        font-weight: 400;
        padding: 10px 15px;
        border-radius: 15px;
    }
    .button{
        margin: 100px auto;
        width: 280px;
    }
    .button a{
        margin: 0 auto;
        font-size: 18px;
        font-weight: 400;
        padding: 10px 15px;
        border-radius: 15px;
    }
   
}

@media screen and (max-width: 576px){
    .container{
        width: 100%;
    }
    .footer{
        display: inline;
    }
    .footer-foto{
        margin: 0 auto;
        width: 300px;
        height: 280px;
    }
    .footer-item{
      align-items: center;
      justify-content: center;
    }
    .title-text p{
        font-size: 18px;
    }
    h2{
        font-size: 24px;
    }
    .button a{
        font-size: 18px;
    }
    .stages-items{
        display: inline;
    }
    .stages-items-up{
        display: flex;
        margin: 0;
    }
    .stages-items-down{
        display: flex;
        margin: 0;
    }
    .stages-items p{
        font-size: 24px;
        width: 200px;
    }
    .scale-of{
        display: none;
    }
    .why button{
        font-size: 18px;
        width: 300px;
    }
    .why p{
        font-size: 16px;
        width: 300px;
    }
    
}
